<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <button v-on:click="add(10)">Add 10</button>
      <button @click="reduce(5)">Subtract 5</button>
      <p>Result: {{ counter }}</p>
      <input type="text" v-model="name" />
      <input type="text" v-model="lastName" />

      <!-- v-model equivale a todo esto:  
      v-on:input="setName($event, 'Schwarzmüller')"
      v-bind:value="name", es decir, es un v-bind y un v-on a la vez -->
      <button v-on:click="resetInput">Reset Input</button>
      <!-- <p>Your Name: {{ fullNamed() }}</p>  esxta no seria una buena tecnica, dado que el metodo se ejecutaria cada vez que cambia cualquier variable reactiva.-->

      <p>Your name: {{fullnameComputed}}</p>
      <p>Your name: {{fullNamed()}}</p>

      <p>{{returnTest}}</p>
      <p>{{returnTest2()}}</p>
      <button @click="aleatorio()">Aleatorio</button>

      <!-- fullname es una propiedad computada-->
    </section>
  </body>
</html>
