<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input v-model="inputText" type="text" />
      <button @click="addToList">Add Goal</button>

      <p v-show="goals.length < 1">Esto es un v-show</p>
      <!-- Utilizar solo en casos donde la visibiolidad cambie mucho  dado que puede afectar al rendimiento mas que v-if-->
      <p v-if="goals.length < 1">
        No goals have been added yet - please start adding some!
      </p>
      <p v-if="isTrue()">Es verdadero !!!</p>
      <!-- Por norma general usar v-if en contra de v-show, a no ser que la visibilidad del elemento sea muy cambiante-->
      <p v-else-if="isUndefined">Que sera?!!!</p>

      <p v-else>Es falso !!!</p>
      <!-- Ejemplo con array de  objetos-->
      <ul>
        <li v-if="goals.length < 1">Goal</li>
        <li
          v-for="element of goals"
          :key="element.id"
          @click="removeToList(element.id)"
        >
          {{element.text + element.id}}
        </li>
      </ul>
      <!-- Ejemplo de array -->
      <ul>
        <li v-if="goals2.length < 1">Goal</li>
        <li
          v-for="(element,index) of goals2"
          :key="index*-1"
          @click="removeToList(index)"
        >
          {{element + index}}
        </li>
      </ul>
      <!-- Ejemplo con objeto: Esta sintaxis cambia ya que para iterar objetos no es for of, si no """"for in""""" !!-->
      <ul>
        <li v-if="Object.keys(goals3).length === 0">Goal</li>
        <li v-for="(value,key) of goals3" :key="key" @click="removeToList(key)">
          Key: {{ key }},{{value.text}}, long: {{value.lon}}
        </li>
      </ul>
      <!-- Para iterar sobre un rango podemos usar la directiva v-for tambien, pero necesariamente con in, aunque con of tambien funciona-->
      <ul>
        <li v-for="num in 10">{{num}}</li>
      </ul>
    </section>
  </body>
</html>
